
@foreach (var week in ViewBag.WeeklyResults)
{
    <div class="row">
        <div class="col-md-12">
            <h2>Week #@week.WeekNbr</h2>
            <p>Scores created on @week.ScoreCreateDate.ToString("d")</p>
        </div>
    </div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Player</th>
            <th>Score</th>
            <th>Points</th>
            <th>Birds</th>
            <th>Pars</th>
            <th>Bogeys</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var playerRnd in week.PlayerRounds)
        {
        <tr>
            <td>@playerRnd.Name</td>
            <td>
                @playerRnd.TotalScore
            </td>
            <td>
                @playerRnd.TotalPoints
            </td>
            <td>
                @playerRnd.Birdies
            </td>
            <td>
                @playerRnd.Pars
            </td>
            <td>
                @playerRnd.Bogeys
            </td>
        </tr>
        }
    </tbody>
</table>
}
